* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    font-family: Sans-Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

label {
    text-align: center;
    margin-bottom: 5px;
}

input{
    width: 200px;
    height: 30px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: center;
}

button{
    background: #ABFF4F;
    outline: none;
    border: solid 2px black;
    border-radius: 20px;
    width: 100px;
    height: 35px;
}

p{
    margin: 10px 50px;
    text-align: center;
}